{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
<style type="text/css">
.article{
	min-height: 100px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: 20px;
	background-color: #519696;
	border-radius: 5px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.article-thumb{
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
}
.article-thumb-default{
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
    border: 5px solid white;
    border-radius: 5px;
}
.article-title{
	font-size: 20px;
	color: white;
    margin-bottom: 10px;
}
.white{
	color: white;
	font-size: 20px;
}
.grey{
	color: #9e9595;
	font-size: 20px;
}
.action-item{
	margin-right: 20px;
}
.title{
	margin-bottom: 20px;
	text-align: center;
}
#audio-modal-body, #article-modal-title, #audio-modal-title{
	text-align: center;
}
#article-modal-body > p{
    font-size: 16px;
    line-height: 30px;
}
/* Quiz CSS */
body{
	background-color: #CEC8C8;
}
.examdiv{
	padding: 0px 30px 10px 30px;
	margin-top: 0px;
	border-radius: 5px;
	background-color: white;
	min-height: 300px;
}
.answerbtn{
    min-width:100%;
    display: block;
    text-align: left;
    margin-top: 5px;
    padding-left: 10px !important;
    cursor: pointer;
    background-color: #eee;
    min-height: 40px;
    line-height: 40px;
}
.answerbtn:hover{
    background-color: #ddd;
}
/*#timer_sidebar{
	padding-top: 10px;
	margin-top: 30px;
	border-radius: 5px;
	background-color: white;
}*/
.question-main{
	padding-bottom: 10px;
}
.opt, .ans-text{
	padding-bottom: 10px;	
}
label{
	padding-left: 5px;
}
.options{
	/*padding-left: 30px;*/
}
.next{
	margin-left: 10px;
}
.outer {
  display: flex;
}
.inner {
  align-self: center;
  width: 100%;
}
.passage{
	font-size: 15px;
	text-align: justify;
	white-space: pre-wrap;
	overflow-y: scroll;
	max-height: 400px;
}
.question{
	white-space: pre-wrap;
}
.small-font{
	font-size: 15px;
}

@media only screen 
and (min-device-width : 600px) 
and (max-device-width : 800px){
	.examdiv{
		padding: 0px 30px 0px 30px;
		margin-top: 0px;
		min-height: 350px;
		font-size: 12px;
	}
	.passage{
		font-size: 12px;
		max-height: 300px;
	}
	#timer_sidebar{
		font-size: 12px;
	}
	.small-font{
		font-size: 12px;
	}
}
</style>

{% endblock css %}

{% block content %}
<h1 class="title">Available Articles</h1>
{% if passes_threshold %}
<div class="row">
    <div class="col-md-12">
    <a href="{% url 'qa:level-up' %}" class="btn btn-secondary" style="float: right;">Level Up</a>
    </div>
</div>
{% endif %}
<div class="row">
	<div class="col-md-12 col-sm-12">
		{% for article in object_list %}
		<div class="col-md-3 col-sm-4 article offset-md-1 offset-sm-2">
            <div class="row">
                <div class="col-md-12 col-sm-12">
            {% if article.image %}
            <img src="{{article.image.url}}" class="img-responsive article-thumb">
            {% else %}
            <img src="/media/article/default.png" class="img-responsive article-thumb-default">
            {% endif %}
                </div>
            </div>
    		<p class="article-title">{{article}}</p>
    		<div class="actions">
    			<a href="#" class="action-item" onclick="show_article('{{article.title}}', '{{article.id}}')" title="Read this article."><i class="fa fa-eye white" aria-hidden="true"></i></a>
    			{% if article.audio %}
        			<a href="#" class="action-item" onclick="show_audio('{{article.title}}', '{{article.id}}')" title="Listen to this article."><i class="fa fa-headphones white" aria-hidden="true"></i></a>
    			{% else %}
        			<a class="action-item" title="Audio not available."><i class="fa fa-headphones grey" aria-hidden="true"></i></a>
    			{% endif %}
                {% if article.question_set.all %}
                    <a href="#" class="action-item" onclick="show_quiz('{{article.title}}', '{{article.slug}}')" title="Take quiz for this article."><i class="fa fa-question white" aria-hidden="true"></i></a>
                {% else %}
                    <a class="action-item" title="Quiz not available."><i class="fa fa-question grey" aria-hidden="true"></i></a>
                {% endif %}
    		</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="articleModal" style="margin-top: 12%;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clear_modal_body()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="article-modal-title"></h4>
      </div>
      <div class="modal-body" id="article-modal-body" style="height: 400px; overflow-y: scroll;">

      </div>
      <div class="modal-footer" id="article-modal-footer" style="text-align: center;">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="audioModal" style="margin-top: 12%;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clear_modal_body('#audio-modal-body')"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="audio-modal-title"></h4>
      </div>
      <div class="modal-body" id="audio-modal-body">

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="quizModal" style="margin-top: 12%;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clear_modal_body('#quiz-modal-body')"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="quiz-modal-title"></h4>
      </div>
      <div class="modal-body" id="quiz-modal-body">
	            <div class="row examdiv outer" id="examMainDiv">
	                <div class="inner">
	                    <div class="wrapper col-sm-12">
	                        <div class="question-main">
	                            <div class="row">
	                                <div class="q_no col-sm-1" style="width: 0.1%;"></div>
	                                <div class="question col-sm-11"></div>
	                            </div>
	                        </div>
	                        <div class="options col-sm-6">
	                            <div class="ans-text col-sm-12" style="display:none">
	                                <textarea id="subjective-answer" class="form-control" rows="10" cols="40" placeholder="Write tha answer here."></textarea>
	                            </div>

	                        </div>
	                        <div class="question-image col-sm-6" style="display: none;"></div>
	                        <div class="action col-sm-12">
	                            <button type="button" class="btn btn-primary next " disabled="disabled" onclick="next()">Next</button>
	                        </div>
	                    </div>
	                    <div class="passage col-sm-7" style="display: none;">
	                    </div>
	                    
	                </div>
	            </div> 
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="errorModal" style="margin-top: 12%;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="error-modal-title"></h4>
      </div>
      <div class="modal-body" id="error-modal-body">

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock modal %}

{% block javascript %}
<script src="{% static 'js/csrftoken.js' %}"></script>
<script type="text/javascript">
global_content_page_number = 0;
global_content_data = '';
global_quiz_marks = 0;
function show_article(title, id){
	get_article_data(id);
    $('#articleModal').modal('show');
    $('#article-modal-title').text(title);
}

function show_audio(title, id){
	get_audio_data(id);
    $('#audioModal').modal('show');
    $('#audio-modal-title').text(title);
}

function get_article_data(id) {
    var url = "/api/article/" + id + '/';
    $.ajax({
        url: url,
        type: "GET",
        success: function(data) {
            // console.log(data);
        	global_content_data = data.pages;
        	global_content_page_number = 0;
    		var article_html = get_content_page();
        	$('#article-modal-body').html(article_html);
        },
        error: function( xhr, status, errorThrown ) {
            console.log(errorThrown);
        }
    });
}
function get_content_page() {
    var article_html = global_content_data[global_content_page_number];
    // var btn_html = '<div class="row"><div class="col-md-12" style="text-align: center;">';
    var btn_html = '';
    if (global_content_data[global_content_page_number + 1] != undefined){
        var next_btn_html = '<button type="button" class="btn btn-primary" onclick="next_content_page(\'next\')" style="float:right;">Next</button>';
        btn_html += next_btn_html;
    }else{
        var finish_btn_html = '<button type="button" class="btn btn-primary" onclick="close_article_modal()" style="float:right;">Finish</button>';
        btn_html += finish_btn_html;
    }
    if (global_content_data[global_content_page_number - 1] != undefined){
        var prev_btn_html = '<button type="button" class="btn btn-primary" onclick="next_content_page(\'prev\')" style="float:left;">Previous</button>';
        btn_html += prev_btn_html;
    }
    // btn_html += '</div></div>';
    // article_html += btn_html;
    $('#article-modal-footer').html(btn_html);
    return article_html;
}
function next_content_page(type) {
    if(type =='next'){
        global_content_page_number += 1;
    }else{
        global_content_page_number -= 1;
    }
    var article_html = get_content_page();
	$('#article-modal-body').html(article_html);
}

function get_audio_data(id) {
    var url = "/api/article/" + id + '/';
    $.ajax({
        url: url,
        type: "GET",
        success: function(data) {
        	var audio_html = '<audio id="article_' + data.id.toString() + '" autoplay controls>' +
		     '<source src="' + data.audio +'" /></audio>';
	     // console.log(audio_html);
        	$('#audio-modal-body').html(audio_html);
        },
        error: function( xhr, status, errorThrown ) {
            console.log(errorThrown);
        }
    });
}

function clear_modal_body(body_id) {
	$(body_id).html('');
    global_content_page_number = 0;
}

// QUIZ Functions
global_exam_data = '';
global_is_clicked = 0;
global_question_number = 0;
global_total_points = 0;

function show_quiz(title, slug){
    set_quiz_modal();
	get_exam_data(slug);
    $('#quizModal').modal('show');
    $('#quiz-modal-title').text(title);
}

function set_quiz_modal() {
    // body...
    var quiz_body = '<div class="row examdiv outer" id="examMainDiv">'+
                    '<div class="inner">'+
                        '<div class="wrapper col-sm-12">'+
                            '<div class="question-main">'+
                                '<div class="row">'+
                                    '<div class="q_no col-sm-1" style="width: 0.1%;"></div>'+
                                    '<div class="question col-sm-11"></div>'+
                                '</div>'+
                            '</div>'+
                            '<div class="options col-sm-6">'+
                                '<div class="ans-text col-sm-12" style="display:none">'+
                                    '<textarea id="subjective-answer" class="form-control" rows="10" cols="40" placeholder="Write tha answer here."></textarea>' +
                                '</div>'+

                            '</div>'+
                            '<div class="question-image col-sm-6" style="display: none;"></div>'+
                            '<div class="action col-sm-12">'+
                                '<button type="button" class="btn btn-primary next " disabled="disabled" onclick="next()">Next</button>'+
                            '</div>'+
                        '</div>'+
                        '<div class="passage col-sm-7" style="display: none;">'+
                        '</div>'+
'                        '+
                    '</div>'+
                '</div>';
    $('#quiz-modal-body').html(quiz_body);
}

function get_exam_data(slug){
    // start exam
    global_quiz_marks = 0;
    global_question_number = 0;
    var exam_url = "/api/quiz/start/" + slug + "/";
    $.ajax({
        url: exam_url,
        type: "GET",
        success: function(data) {
            global_exam_data = data;
            first_question = data.questions[global_question_number];
            set_question(first_question, global_question_number);
        },
        error: function( xhr, status, errorThrown ) {
            var error_msg = 'Error !';
            $('#quizModal').modal('hide');
            $('#error-modal-title').html(error_msg);
            $('#errorModal').modal('show');
        }
    });
}

function set_question(data, question_no){
    global_is_clicked = 0;
    question_no += 1;
    if(data.question){        
        var q_no = '<span class="question-no">' + question_no +')&nbsp;</span>'
        $('.question').html(data.question.text);
        $('.q_no').html(q_no);
        $('.question').attr('style', 'font-size: medium;');
        $('.question-no').attr('style', 'font-size: medium;');

        if(data.question.image){
            $('.question-image').html('<img height="250px" class="img-responsive" style="float:right;" src="' + data.question.image + '">');
            $('.question-image').prop('style', 'margin-top: 20px;');
        }else{
            $('.question-image').prop('style', 'display: none;');
        }
        $('.wrapper').removeClass('col-sm-5');
        $('.wrapper').addClass('col-sm-12');
        $('.passage').prop('style', 'display: none;');

        for (var i = 0; i <= data.options.length -1; i++) {
            var opt = data.options[i];
            var opt_name = opt.name;
            var opt_text = opt.text;
            var opt_html = '<div class="opt col-sm-12" min-width="100%">' +
            '<div id="opt_id_' + opt_name + '" class="answerbtn" onclick="submit_answer(\'' + data.question.id.toString() +'\',\''+ global_exam_data.id.toString() +'\',\''+ opt_name +'\')">'+ opt_name +
            '.&nbsp;&nbsp;&nbsp;' + opt_text;

            if(opt.image){
                var img_element = '<img height="150px" src="' + opt.image + '">';
                opt_html += '<div class="a-image" style="display: inline;">' + img_element +'</div></div></div>';
            }else{
                opt_html += '<div class="a-image" style="display: none;"></div></div></div>';
            }
            $('.options').append(opt_html);
        }

        $('.remaining-questions').html('Remaining: ' + parseInt(global_exam_data.questions.length - q_no));
    }else{
        // exam complete, so call endexam api
        end_exam();
    }
}

function end_exam(){
    var num_questions = global_exam_data.questions.length.toString();
    var quiz_total_points = global_total_points * num_questions;
	var end_exam_btn = '<div style="min-height: 300px;text-align: center;"> <p>Congratulations ! You have completed the quiz.</p><p style="margin-top: 20px;">You scored <strong>' + global_quiz_marks.toString() + ' out of ' + quiz_total_points +
        ' Points.</strong></p><p style="margin-top: 20px;>Click below to complete exam.</p><button type="button" class="btn btn-primary" onclick="close_quiz_modal()" style="margin-top: 30px;">Finish</button></div>';
    $('#quiz-modal-body').html(end_exam_btn);
}

function close_quiz_modal() {
	$('#quizModal').modal('hide');
}

function close_article_modal() {
    $('#articleModal').modal('hide');
}

function submit_answer(question_id, quiz_id, given_answer){
    if (global_is_clicked > 4){
        // do not submit if clicked more than 4 times
        return false;
    }
    var data = {
        'question_id': parseInt(question_id),
        'quiz_id': parseInt(quiz_id),
        'given_answer': given_answer,
        'attempt_count': global_is_clicked + 1
    }
    var submit_url = '/api/question/attempt/';
    enable_next();
    $.ajax({
        url: submit_url,
        type: "POST",
        data: data,
        success: function(data) {
            if (data.correct.toString() == 'true'){
                // show green for given answer
                // $('#opt_id_' + data.given_answer).attr('style', 'background-color: #91e491;');
                global_quiz_marks = global_quiz_marks + data.point;
                global_total_points = data.total_points;
                // console.log('correct');
                // console.log(global_quiz_marks);
            }else{
                // show red for given answer
                // $('#opt_id_' + data.given_answer).attr('style', 'background-color: #f34040;');
                // show green for correct answer
                // $('#opt_id_' + data.correct_option).attr('style', 'background-color: #91e491;');
                // console.log('Incorrect');
                // console.log(global_quiz_marks);
            }
            global_is_clicked += 1;
            global_question_number += 1;
        },
        error: function( xhr, status, errorThrown ) {
            console.log(errorThrown);
        }
    });
}

function enable_next(){
    $('.next').prop('disabled', false);
}

function next(){
    var next_question = global_exam_data.questions[global_question_number];
    reset_answer_colors();
    if (next_question){
        global_is_clicked = false;
        set_question(next_question, global_question_number);
    }else{
        // no next question available
        end_exam();
    }
}

function reset_answer_colors(){

    $('.answerbtn').attr('style', 'background-color: #eee');
    $('.opt').remove();
}

</script>
{% endblock javascript %}
